mixin Field()
    if (attributes.freadonly)
        input(type=attributes.ftype class=attributes.fclass placeholder=attributes.fplaceholder pattern=fpattern read!=attributes.name readonly)
    else
        input(type=attributes.ftype class=attributes.fclass placeholder=attributes.fplaceholder pattern=fpattern read!=attributes.name)